/* colors coffee: #E6CA8E cream: #E6CA8E */

body {background: #080602;}

.container {width: 780px; margin: auto;}

nav {float: right; background-color: #ffc;}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
  font-size: 0.9em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  text-decoration:none;
  color: #190B00;
}

nav ul li a:visited {
  color: #190B00;
}

nav ul li a:hover {
  text-decoration: underline;
}
#header {height: 50px;}

#section {margin-top: 10px; background-color: #ffc; padding: 20px;}

.round {
  -moz-border-radius:    0.4em;
  -webkit-border-radius: 0.4em;
  border-radius:         0.4em;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #E6CA8E;
  background: #190B00;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}


#footer {text-align: center; font-size: 0.7em;}

#footer ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

#footer ul li a {
  padding: 0 5px;
  font-weight: bold;
  text-decoration:underline;
  color: #E6CA8E;
}

#debug {color: #E6CA8E;}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #E6CA8E;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
}
