/* colors coffee: #E6CA8E cream: #E6CA8E */

body {background: #EEE; color: #111;
      background-image: url('/images/background_snow.jpg');
      background-position: center top;
      background-repeat: no-repeat;
      }

.container {width: 45em; margin: auto;}

li {list-style: none;}

a {color: #042b41;}
a:visited {color: #042b41;}

nav {float: right; background-color: #dee3e9;}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
  font-size: 0.9em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li a {
  padding: 0 0.1em;
  font-weight: bold;
  text-decoration:none;
  color: #111;
}

nav ul li a:visited {
  color: #111;
}

nav ul li a:hover {
  text-decoration: underline;
}
#header {height: 4em;}

#section {margin-top: 0.3em; background-color: #FFF; padding: 1em;
}

.round {
  -moz-border-radius:    0.4em;
  -webkit-border-radius: 0.4em;
  border-radius:         0.4em;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 8em;
  color: #dee3e9;
  background: #5790ab;
  font-size: 150%;
  font-weight: bold;
  padding: 1em;
}


#footer {text-align: center; font-size: 0.7em;}

#footer ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

#footer ul li a {
  padding: 0 0.3em;
  font-weight: bold;
  text-decoration:underline;
  color: #333;
}

#debug {color: #333;}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #c5d3dc;
}


div.field, div.actions {
  margin-bottom: 1em;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
}

.flash_error {color: maroon;}
.flash_success {color: darkgreen;}
.flash_success {color: #080602;}

ul.users {margin-top: 1em;}

.users li {list-style: none;}

h1.activity {
  margin-bottom: 0.3em;
}

table.activities {
  margin-top: 1em;
}

table.activities tr {
  height: 4.5em;
}

table.activities tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.activities tr td.activity {
  border-top: 0.3em solid #ccc;
  vertical-align: top;
  padding-top: 3em;
}

table.activities tr td.activity span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

table.front {
  width: 100%;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.activities {
  font-size: 80%;
}

form.new_activity {
  margin-bottom: 2em;
}

form.new_activity textarea {
  height: 5em;
  width: 20em;
  margin-bottom: 0;
}

form.comment textarea {
  height: 5em;
  width: 20em;
}


#api_table table {
  font-family: arial, sans-serif;
  font-size: 90%;
  margin:auto;
  padding: 2em;
}

#api_table td {
  border: solid 1px #ccc;
  border-collapse: collapse;
  padding: 0.3em 0.5em;
}

#title {
  text-align: center;
}

.resource {
  width: 200px;
}

.pic_square { }

#time_time_5i {
  width: 30%;
}
