<% unless current_user?(@user) %>
  <div id="friend_form">
  <% if current_user.friend_of?(@user) %>
    <%= render 'unfriend' %>
  <% else %>
    <%= render 'friend' %>
  <% end %>
  </div>
<% end %>

