<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= link_to @user.name, @user %><br />
      <strong>Location</strong> <%= @user.location %>
    </td>
  </tr>
</table>
