<h1>Friends</h1>
<ul>
  <% current_user.friendships.each do |friendship| %>
    <li>
      <% unless friendship.friend.nil? %>
        <%= image_tag(friendship.friend.get_pic_square) unless
              friendship.friend.get_pic_square.empty? %>
        &nbsp;
        <%= link_to friendship.friend.name, user_path(friendship.friend) %>
      <% end %>
    </li>
  <% end %>
  <% current_user.reverse_friendships.each do |friendship| %>
    <li>
      <% unless friendship.friend.nil? %>
        <%= image_tag(friendship.user.get_pic_square) unless friendship.user.get_pic_square.empty? %>
        &nbsp;
        <%= link_to friendship.user.name, user_path(friendship.friend) %>
      <% end %>
    </li>
  <% end %>
</ul>
