<% @feed_items.each do |activity| %>
  <% unless !activity.starts_at.nil? and activity.starts_at.past? %>
    <tr>
      <td>
        <strong><%= activity.title %></strong>
        <%= activity.title %>
        <%= activity.location %>
        <% unless activity.starts_at.nil? %>
          <%= activity.starts_at.strftime("%c") %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>

